@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,500&family=Red+Hat+Display:wght@500;700;900&display=swap');

/* font "red hat display" 
weights 500, 700, 900 */

/* Paragrph font size = 16px */

/* mobile@375px */

:root {
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);

}

body {
    margin: 0;
    text-align: center;
    font-family: "Red Hat Display";
}

.container {
    background-image: url(./images/pattern-background-desktop.svg);
    background-color: var(--pale-blue);
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 400px;
    height: 600px;
    border-radius: 15px;
    background-color: white;

}

.image {
    max-width: 100%;
    border-radius: 15px 15px 0 0;
}

.main-text-area {
    margin: 20px;
}

.title {
    font-size: 22px;
    font-weight: 900;
    padding-top: 10px;

}

.body-text {
    font-size: 16px;
    font-weight: 500;
    color: var(--desaturated-blue);
    padding-bottom: 10px;
}

.pricing-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--very-pale-blue);
    border-radius: 10px;
    padding: 15px 20px 15px 20px;
    margin: 10px;
}

.pricing {
    padding-right: 70px;
    line-height: 0.4;
}

.annual-plan {
    font-weight: 900;
}

.price {
    color: var(--desaturated-blue);
}

.hyperlink {
    font-size: 14px;
    color: var(--bright-blue);
    font-weight: 700;
}

.btn {
    background-color: var(--bright-blue);
    color: white;
    font-weight: 700;
    border-radius: 9px;
    height: 45px;
    width: 94%;
    margin-top: 15px;
}

.cancel-order {
    font-size: 14px;
    font-weight: 700;
    color: var(--desaturated-blue);
    padding: 12px;
}

.footer {
    text-align: center;
    font-size: 14px;
    background-color: var(--pale-blue);
    padding: 20px;
}